body, ul, h1, h4 {
    margin: 0;
    padding: 0;

}

.wrapper {

    margin: 0 auto;
    width: 1000px;
    border: 1px solid black;

}

.mainLogo {

    position: absolute;
    top: 10px;
    left: 0px;

}

.mainLogo img {

    width: 200px;

}

.mainMenu li {
    list-style-type: none;
    float: left;

}

.mainMenu a:link, .mainMenu a:visited {

    text-decoration: none;
    line-height: 30px;
    padding: 0 10px;
}

.mainMenu a:hover, .mainMenu a.active {

    text-decoration: underline;
    color: #FF0000;

}

.mainMenu {

    position: absolute;
    top: 40px;
    left: 200px;
    border: 1px solid black;

}

.name {

    position: absolute;
    top: 10px;
    left: 200px;
    font-size: 19px;
    font-weight: bold;

}

.header {

    outline: 1px solid black;
    position: relative;
    height: 200px;
    position: relative;
}

.left_sidebar, .right_sidebar {

    width: 200px;

}

.left_sidebar {

    float: left;

}

.right_sidebar {

    float: right;

}

.content p {

    text-align: justify;
    margin: 10px 0;
}

.content {

    border: 1px solid black;
    padding: 0 20px;
    margin: 0 200px;

}

.footer {
    margin: 0;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    padding-top: 180px;

}

.clearfix {
    clear: both;
}