body, h1, h2, ul {

    margin: 0;
    padding: 0;

}

body {

    background-color: #ebebeb;

}

li {

    list-style-type: none;

}

.center img, .right img {

    width: 100%;

}

.right img {

    margin-top: 10px;


}

.mainMenu, .content_wrapper, .bottom_menu {


    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

.header, .footer {

    background-color: #242424;

}

.mainMenu a {

    display: block;
    font-size: 19px;
    padding: 0 20px;


}

.mainMenu ul {
    font-size: 0;
    padding-left: 0;
}

.right ul, .left ul {

    padding-left: 0;
    text-align: justify;
    font-size: 13px;
    margin-bottom: 10px;
}

.right li, .left li {

    margin-bottom: 10px;
}

.mainMenu li {
    display: inline-block;
    line-height: 50px;

}

.mainMenu a:link, .mainMenu a:visited {

    color: white;
    text-decoration: none;

}

.mainMenu a:hover, .mainMenu a.active {

    background-color: #585858;

}

.content_wrapper {

    margin: 30px auto;
    background-color: white;

}

.content_wrapper .left {

    float: left;
    width: 210px;
    margin: 20px 20px 0 20px;

}

.left h2, .right h2 {

    font-size: 17px;
    margin-bottom: 10px;

}

.center h1 {

    font-size: 21px;

}

.center h2 {
    margin-top: 20px;
    font-size: 19px;

}

.content_wrapper .right {

    float: right;
    width: 210px;
    margin: 0 20px;

}

.right > div {

    margin-top: 20px;

}

.content_wrapper .center {

    margin: 0 250px;
    padding-top: 20px;
}

.content_wrapper .center p {

    text-align: justify;

}

.center p {

    margin: 10px 0;

}

.clearfix {
    clear: both;

}

.bottom_menu {
    padding: 30px;
    display: flex;
    justify-content: space-between;


}


.plate {


    height: 180px;
    width: 244px;
    background-color: #ebebeb;
    font-size: 13px;
    text-align: center;
    padding: 10px;

}

.plate p {

    margin: 0 0 3px 0;

}

.copyright {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 13px;
    margin: 0 auto;
    padding-bottom: 5px;
}

